.d-none{
    display: none;
    padding-left: 20px;
}
.pl-20{
    padding-left: 20px;
}
.folder{
    width: 30%;
    padding: 6px;
    margin: 5px 0;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.folder button{
    margin-left: 4px;
    cursor: pointer;
}
.file{
    display: flex;
    flex-direction: column;
}
span{
    cursor: pointer;
}


@media (max-width: 992px) {
    .folder{
        width: 50%;
    }
}
@media (max-width: 650px) {
    .folder{
        width: 90%;
    }
}